/*Banner */

.banner {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    
}

.carousel {
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

    .carousel-item.active {
        opacity: 1;
    }

.carousel-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-content {
    position: absolute;
    top: 31%;
    left: 5.4%;
    transform: translateY(-50%);
    color: white;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    animation: slideUp 1s ease-in-out forwards;
    min-height: 60%;
}

    .carousel-content h1 {
        font-size: 4rem;
        margin-bottom: 10px;
    }

    .carousel-content p {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .carousel-content button {
        padding: 10px 20px;
        font-size: 1.2rem;
        cursor: pointer;
        border: none;
        background: rgb(2,0,25);
        background: linear-gradient(90deg, rgba(2,0,25,1) 19%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
        color: white;
        border-radius: 5px;
    }

.words-container {
    position: absolute;
    bottom: 65px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

.word {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 2.15rem;
}

.loading-bar {
    width: 100%;
    height: 6px;
    background: rgb(2,0,25);
    background: linear-gradient(90deg, rgba(2,0,25,1) 19%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
    margin-top: 4px;
    position: relative;
}

    .loading-bar::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background: white;
        transition: width 5s linear;
    }

    .loading-bar.active::after {
        width: 100%;
    }

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .carousel-content {
        left: 10%;
    }
}

@media (max-width: 992px) {
    .carousel-content {
        left: 10%;
    }
}

@media (max-width: 768px) {
    .carousel-item {
        height: 94vh; /* Ensure minimum height of 30% of the original */
    }

    .carousel-content {
        left: 10%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

        .carousel-content h1 {
            font-size: 2rem; /* Adjust font size for smaller screens */
        }

        .carousel-content p {
            font-size: 1.25rem; /* Adjust font size for smaller screens */
        }

        .carousel-content button {
            padding: 10px 20px;
            font-size: 1rem; /* Adjust font size for smaller screens */
        }
}

/* Adjustments for mobile devices */
@media (max-width: 576px) {
    .carousel-item {
        height: 93vh; /* Ensure minimum height of 30% of the original */
    }

    .carousel-content {
        left: 10%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

        .carousel-content h1 {
            font-size: 1.5rem; /* Adjust font size for smaller screens */
        }

        .carousel-content p {
            font-size: 1rem; /* Adjust font size for smaller screens */
        }

        .carousel-content button {
            padding: 8px 16px;
            font-size: 0.875rem; /* Adjust font size for smaller screens */
        }
}

@media (max-width: 1176px) {
    .words-container {
        justify-content: center;
    }

    .word {
        display: none;
    }

        .word.active {
            display: flex;
        }

    .loading-bar {
        width: 50%;
        height: 6px;
        background: rgba(255, 255, 255, 0.3);
    }
}
