.footer {
    width: 100vw;
    height:auto;
    margin-bottom:0;
    background-color: black;
    color: white;
    padding: 20px;
    box-sizing: border-box;
   
}

.footer-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.footer-left, .footer-right {
    width: 100%;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}

    .footer-left form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

    .form-group input {
        width: 48%;
        padding: 10px;
        margin-bottom: 10px;
    }

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #0033a0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.company-logo {
    margin-top: 20px;
}

.footer-right img {
    width: 100%;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    width: 23%;
    margin-bottom: 20px;
}

    .column h3 {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .column ul {
        list-style: none;
        padding: 0;
    }

        .column ul li {
            margin-bottom: 10px;
        }

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.social-icon {
    width: 40px;
    height: 40px;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #0033a0;
    padding-top: 10px;
}

.footer-text {
    text-align: center;
}

    .footer-text a {
        text-decoration: none;
        color: #0033a0;
    }

/* Responsive styling */
@media (max-width: 768px) {
    .footer-columns {
        flex-direction: column;
        align-items: center;
    }

    .column {
        width: 100%;
        margin-bottom: 10px;
    }
}
